<% semantic_form_for(:user, @user, :url => {:action => :update, :id => @user} ) do |f| %>	
  <h1>Editar Usuário</h1>
	<% f.inputs do %>
    <%= f.error_messages %>
		<p><%= f.input :full_name, :label => 'Name' %></p>
		<p><%= f.input :username, :label => 'Username' %></p>
		<p><%= f.input :website, :label => 'Site', :required => false %></p>
		<p><%= f.input :email, :label => 'E-mail', :required => false %></p>
	<% end %>
	<%= f.buttons %>
<% end %>

