<div id="sidebar">
  <%= image_tag(@user.profile_image_url, :alt => @user.username) %><br />
</div>

<h1><%=h @user.full_name %></h1><br />
<b>USERNAME: <%=h @user.username %><br />
<b>FULL NAME: <%=h @user.full_name %><br />
<% if @user.email %>
  <b>E-MAIL:</b><%=h @user.email %><br />
<% end %>
<% if @user.website %>
  <b>SITE:</b><%=h @user.website %><br />
<% end %>
</table>
