<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title>Books: <%= controller.action_name %></title>
	<%= javascript_include_tag "application", "jquery-1.4.3.min", "jquery-ui-1.8.5.custom.min", "jrails" %>
	<%= stylesheet_link_tag "sunny/jquery-ui-1.8.5.custom"%>
	<%= ajaxful_rating_style %>
	<link rel="stylesheet" href="/style.css" type="text/css" />
	<script type="text/javascript">
	$(document).ready(function() {
		$('form').draggable();
		$('.modal').draggable();
	});
  function show_login_window() {
    $('#login_window').show();      
  }
	<%= "alert('"+flash[:notice]+"');" if flash[:notice] %>
	</script>
</head>
<body>
	  <div id="top">
      <div class="container">
        <a href="/"><img src="/images/title.png" alt="Cordel" /></a>
        <div id="login">
        <% if current_user %>
          <a href="/users"><img src="<%= current_user.profile_image_url %>" style="width: 14px; height: 14px" alt="@<%= current_user.twitter_username %>" /> @<%= current_user.twitter_username %></a>
        <% else %>
          <a href="javascript:show_login_window();">Login</a>
        <% end %>
        </div>
      </div>
    </div>
		<div id="content">
			<div class="container">
				<%= yield %>
        <div id="login_window" class="modal" style="display: none">
          <h1>Login</h1>
          <%= link_to image_tag("twitter.png"), "/auth/twitter" %> <br/>
          <%= link_to image_tag("facebook.png"), "/auth/facebook" %> 
        </div>
				<div style="clear: both"></div>
			</div>
		</div>
		<div id="bottom">
			<b>Cordel</b> is a personal virtual library made by @cmilfont @henriquegogo @rodrigodealer and @razenha<br />
			"Open your mind and go away"
		</div>

	</body>
	</html>


